/* Small devices (tiny screens and up, 176px and up) */
@media (min-width: 176px) {
  /* body {background-color: green;} */
  .meal-picker {
    min-width: 320px;
    width: 100%;
    background-color: var(--bg-tint-green);
    padding: 30px 20px;
    border-radius: var(--radius-lg);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .meal-picker h3 {
    color: var(--text-accent);
    text-align: center;
  }
  input,
  select {
    display: block;
    box-sizing: border-box;

    margin-bottom: 10px;
    height: 50px;
    width: 90%;
    max-width: 350px;
    border: 1px solid var(--border-dark);
    background-color: var(--bg-primary);
    padding: 0 10px;
    cursor: pointer;
    font-family: (--font-display);
    border-radius: var(--radius-lg);
  }

  .submit {
    width: 90%;
    max-width: 350px;
  }
}

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { */
/* body {background-color: rgb(71, 17, 195);} */

/* } */
