/* Small devices (tiny screens and up, 176px and up) */
@media (min-width: 176px) {
  /* body {background-color: green;} */
  .meal-planner {
    background-color: var(--bg-primary);
  }

  .meal-planner h1 {
    text-align: center;
    font-size: 2.35rem;
  }

  .week-nav {
    min-width: 250px;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto 20px;
  }

  .meal-planner .btn-nav {
    padding: 0px 10px;
    font-size: larger;
  }
  .meal-planner .btn-pill {
    padding: 5px 10px;
    margin-left: 15px;
  }

  .week-strip {
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .date-block {
    width: 40px;
    height: 100%;
    cursor: pointer;
    padding: 5px;
  }

  .date-block span:first-child {
    display: block;
    text-align: center;
  }

  .date-block span:last-child {
    display: block;
    text-align: center;
  }

  .date-block.selected-block {
    background-color: var(--bg-accent);
    color: var(--text-white);
    border-radius: var(--radius-md);
  }

  .date-block.today-block {
    border: 2px solid var(--highlight-secondary);
    border-radius: var(--radius-md);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
